.custom {
    background-color: whitesmoke;
    background-image: url('../img/custombg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    text-align: center;
    color: white;
}

.jumbotron {
    background-color: #808080;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 150px;
    padding-bottom: 100px;
    border: 3px solid #808080;
    border-radius: 20px;
    width: 1000px;
    opacity: 0.8;
}

.btn {
    padding: 30px 25px;
    float: right;
    text-align: center;
}

.font-26 {
    font-size: 26px;
}