body {
    /* background-image: url('../img/maccode.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat; */
    background-color: #b5a873
}

.hidden {
    display: none;
}

.disable {
    pointer-events:none;
}
.chaMuhimuImg {
    position: absolute;
    top: 65%;
    left: 20%;
    width: 60% !important;
    transform: translate(-50%, -50%);
}

.chaMuhimuimg {
    opacity: 0.6;
}


.navbar {
    position: absolute
}

.carousel-inner > div {
    height: 60vh;
}

.gameArea {
    background-color: rgba(0, 0, 255, 0.1);
}

.wraper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 0.5em;
    box-sizing: border-box;
}

.wraper>* {
    background-color: lavender;
    box-sizing: border-box;
}

.sysText {
    overflow: hidden;
    white-space: nowrap;
}

.text-font-md {
    font-size: 23px;
}

.animation-loop {
    animation-iteration-count: infinite;
}

#subscribe {
    background-image: url('../img/blackkey.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.sub-container {
    background: rgba(0, 0, 0, .5);
}

.w-10 {
    width: 10%;
}

.w-33 {
    width: 33%;
}